@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Carelia";
  src: url("/fonts/Carelia-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
